body {
    background-color: #cccccc;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #308e33;
    font-size: 170px;
    font-style: normal;
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 20px;
}

/* Flexbox container */
.container {
    display: flex;
    justify-content: center; /* Aligns items horizontally */
    align-items: center; /* Aligns items vertically */
    height: 35vh; /* Full viewport height */
    width: 170;
    background-color: #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap; /* Allows items to wrap if necessary */
}

/* Common styles for all items */
.item {
    color: white;
    padding: 50px;
    margin: 40px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    width: 100px;
    transition: transform 0.3s, background-color 0.3s;
}

/* Individual background colors for each item */
.item-1 {
    background-color: #228B22; /* ForestGreen */
}

.item-2 {
    background-color: #7CFC00; /* LawnGreen */
}

.item-3 {
    background-color: #8A9A5B; /* MossGreen */
}

.item-4 {
    background-color: #6B8E23; /* OliveDrab */
}

.item-5 {
    background-color: #87CEEB; /* SkyBlue */
}

/* Hover effect on items */
.item:hover {
    transform: scale(1.1); /* Slightly increase size */
}

p{
    text-align: center;
    color: #4a3d14;
    font-size: 18px;
    font-family: "ivyora-text", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-container > div {
    width: 60%;
    text-align: center;
    line-height: 1.5; 
  }