body {
    background-color: #cccccc;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #165386;
    font-size: 170px;
    font-style: normal;
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 20px;
}

p{
    text-align: center;
    color: #4a3d14;
    font-size: 18px;
    font-family: "ivyora-text", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-container > div {
    width: 60%;
    text-align: center;
    line-height: 1.5; 
  }

/* Media Query for Tablets and Mobile Devices */
@media (max-width: 768px) {
    body {
        background-color: #7aa1b560;
    }

    h1 {
        font-size: 100px !important; 
    }

    p {
        font-size: 12px !important; 
    }

    .flex-container > div {
        width: 80% !important;
    }

    img {
        width: 100% !important; /* Make image responsive */
        height: auto !important; /* Maintain aspect ratio */
    }
}