body {
    background-color: #cccccc;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #F7EA00;
    font-size: 170px;
    font-style: normal;
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}

p{
    text-align: center;
    color: #4a3d14;
    font-family: "ivyora-text", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .flex-container > div {
    width: 75%;
    text-align: center;
    line-height: 1.5; 
  }

/* Flex container styles */
.flex-container {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: flex-start; /* Align content to the top */
    padding: 20px;          /* Add padding to the container */
  }
   
  /* Image styling */
  .hover-image {
    width: 1440px;         /* Set the specified width */
    height: 450px;         /* Set the specified height */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
  }

  /* Scale image on hover */
.image-container:hover .hover-image {
    transform: scale(1.02); /* Scale image for hover */
  }
  
  /* Popup text styles */
  .popup-text {
    position: absolute;     /* Absolute positioning for popup text */
    top: 50%;               /* Center vertically */
    left: 50%;              /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text */
    opacity: 0;            /* Hide text initially */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
    text-align: center;    /* Center text alignment */
    font-size: 26px;              /* Adjust font size as needed */
    line-height: 1.6;             /* Line height for readability */
    margin-top: 40px;
  }
  
  /* Show text and hide image on hover */
  .image-container:hover .hover-image {
    opacity: 0;            /* Hide the image on hover */
  }
  
  .image-container:hover .popup-text {
    opacity: 1;            /* Show the text when image is hovered */
  }

  
  /* Apply a black border around the body */
body {
    margin: 0;
    padding: 0;
    border: 12px solid #3a3737; /* Adjust thickness if needed */
    box-sizing: border-box;
    min-height: 100vh; /* Ensure the page height covers the viewport */
  }