/* Large devices (laptops/desktops) */
@media only screen and (min-width: 1000px) {
    body {
        background-color: #181616; /* Black */
    }
}

/* Medium to large devices (tablets and small laptops) */
@media only screen and (min-width: 800px) and (max-width: 999px) {
    body {
        background-color: #FF00FF; /* Neon Pink */
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 600px) and (max-width: 799px) {
    body {
        background-color: #00c8ff; /* Neon Blue */
    }
}

/* Small devices (phones) */
@media only screen and (min-width: 340px) and (max-width: 599px) {
    body {
        background-color: #FF0000; /* Neon Red */
    }
}

/* Styling for the entire page = Glow effect as the outline */
body {
    margin: 0;
    padding: 1px; 
    border: 10px solid #9900FF; /* Increase the thickness of the border */
    box-shadow: 0 0 100px #9900FF, 0 0 200px #9900FF, 0 0 200px #9900FF; /* Glow effect */
}
  
h1 {
    text-align: center;
    color: #39FF14;
    font-size: 170px;
    font-style: normal;
    font-family: "am-udine", sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
  }

p{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-family: "ivyora-text", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
  }
  
.flex-container > div {
    width: 70%;
    text-align: center;
    line-height: 1.5; 
  }